<!Doctype html>
<html>
	<head>
		<title>BlogPage</title>
		<link rel="icon" type="image/png"
 		href="https://example.com/image.png">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-		ui/2.1.4/semantic.min.css">
		<link rel="stylesheet" href="/stylesheets/app.css">
	</head>
	<body>
		<div class="ui fixed top inverted menu">
			<div class="ui container">
				<div class="header item">
						<img class="ui avatar image" 									src="https://image.flaticon.com/icons/svg/1995/1995515.svg"> BLOGSITE
				</div>
				<a href="/" class="item"><i class="home icon"></i> HOME</a>
				<a href="/Blogs/new" class="item"><i class="pencil alternate icon"></i> New Post</a>
				<div class="right menu item">
					<div class="item">
					  <div class="ui white icon input">
						<form action="/blogs" method="GET" class="form-inline my-2 my-lg-0">
							  <input class="ui icon input loading" type="text" name="search" placeholder="Search Blogs" aria-label="Search">
							  <button class="negative ui button" type="submit">Search</button>
						</form>
					  </div>
					</div>
			  </div>
			</div>
		</div>

		
